.app__right-side {
  padding: 50px;
  min-width: 405px;
}

.caption {
  font-size: 2rem;
  margin-bottom: 40px;
  font-weight: 600;
}

@media screen and (max-width: 660px){
  .app__right-side {
    width: 100%;
    padding: 30px;
    display: block;
    min-width: initial;
  }
  .caption {
    text-align: center;
  }
}