.game-field__cell {
  width: 45px;
  height: 45px;
  border: 1px solid #E4E4E8;
  background-color: #fff;
  transition: background-color 0.3s;
  &.player-cell {
    background-color: #7AEA73;
  }
  &.computer-cell {
    background-color: #E85A5F;
  }
  &.active-cell {
    background-color: #59D8E8;
    cursor: pointer;

  }
}